/* @TODO UI 1.0 -- Delete me. */

/*
@font-face {
  font-family: 'pagination';
  src: url('../font/pagination.eot?81252966');
  src: url('../font/pagination.eot?81252966#iefix') format('embedded-opentype'),
       url('../font/pagination.woff?81252966') format('woff'),
       url('../font/pagination.ttf?81252966') format('truetype'),
       url('../font/pagination.svg?81252966#pagination') format('svg');
  font-weight: normal;
  font-style: normal;
}
!* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. *!
!* Note, that will break hinting! In other OS-es font will be not as sharp as it could be *!
!*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pagination';
    src: url('../font/pagination.svg?81252966#pagination') format('svg');
  }
}
*!

 .paginationControl .first:before,
 .paginationControl .previous:before,
 .paginationControl .next:before,
 .paginationControl .last:before {
  font-family: "pagination";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  !* opacity: .8; *!

  !* For safety - reset parent styles, that can break glyph codes*!
  font-variant: normal;
  text-transform: none;

  !* fix buttons height, for twitter bootstrap *!
  line-height: 1em;

  !* Animation center compensation - margins should be symmetric *!
  !* remove if not needed *!
  margin-left: .2em;

  !* you can be more comfortable with increased icons size *!
  !* font-size: 120%; *!

  !* Uncomment for 3D effect *!
  !* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); *!
}

.paginationControl .previous:before, .icon-left-dir:before { content: '\e800'; } !* '?' *!
.paginationControl .next:before, .icon-right-dir:before { content: '\e801'; } !* '?' *!
.paginationControl .last:before, .icon-to-end:before { content: '\e802'; } !* '?' *!
.paginationControl .first:before, .icon-to-start:before { content: '\e803'; } !* '?' *!

!* .paginationControl .previous,
.paginationControl .next
 { 

	font-size: 130%;
	vertical-align: text-bottom;
 }  *!!* '?' *!
.paginationControl span, .paginationControl a {

  line-height: 14px;
  margin-right: 10px;
  width: 20px;
  cursor: pointer;
}
.paginationControl .first, .paginationControl .next {

  margin-right: 0;
}
.paginationControl .disabled {

	color: #666;
	pointer-events: none;
	text-decoration: none;
	cursor: default;
}
.paginationControl .first,
.paginationControl .previous,
.paginationControl .next,
.paginationControl .last {

	text-decoration: none;
}
.paginationControl {
	margin:10px 0;
	text-align:center;
}
!*
div.paginationControl span {
	cursor: pointer;
	text-decoration: none;
	
}

div.paginationControl span.disabled {
	cursor: default;
	text-decoration: none;
	font-weight:normal;
	font-weight:bold;
} *!*/
