.cke_button_label {
    font-style: italic !important;
}

.cke_button__optin .cke_button_label {
    display: inline !important;
}

.cke_button_keywords .cke_button_label {
    display: inline !important;
}

.cke_button__receipt_icon,
.cke_button__receipt2_icon,
.cke_button__donation_icon,
.cke_button__contact_icon,
.cke_button__crm_icon
.cke_button__formbuilder_icon
.cke_button__shop_icon {
    background-size: 10px auto !important;
}